<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Student" class="cn.BinGCU.pojo.Student">
        <property name="id" value="1"/>

<!--        通过自定义有参构造方法-->
        <constructor-arg name="name" value="AA"/>
    </bean>
    <bean id="Teacher" class="cn.BinGCU.pojo.Teacher"/>

<!--    通过ref为类属性指定具体实现-->
    <bean id="PersonServiceImpl" class="cn.BinGCU.services.PersonServiceImpl">
        <property name="person" ref="Student"/>

    </bean>

</beans>

